.App {
  background-color: #eee;
  padding-left: 20px;
}
.image {
  width: 400px;
  height: 400px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.btn {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background-color: rgb(86, 158, 65);
}
